.container{
    height: 80vh;
    margin: 100px auto;
    max-width: 1200px;
    background: #4CA1AF;  
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF); 
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    background-size: 150%;
}
.bai-tap-label, .bai-tap-content{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}
h3{
    padding: 30px 0px;
}
